In [1]:
import pandas as pd

# Load the CSV file
df = pd.read_csv('jobs.csv')

# Display the first few rows of the dataframe
print("First few rows of the dataset:")
print(df.head(5))

First few rows of the dataset:
              id       site  \
0  1009413161685  glassdoor
1  1009413056122  glassdoor
2  1009413056134  glassdoor
3  1009413969976  glassdoor
4  1009412867680  glassdoor

                                             job_url job_url_direct  \
0  https://www.glassdoor.com/job-listing/j?jl=100...            NaN
1  https://www.glassdoor.com/job-listing/j?jl=100...            NaN
2  https://www.glassdoor.com/job-listing/j?jl=100...            NaN
3  https://www.glassdoor.com/job-listing/j?jl=100...            NaN
4  https://www.glassdoor.com/job-listing/j?jl=100...            NaN

                                               title  \
0                           Platform DevOps Engineer
1  Full Stack Software Engineer, Customer Experience
2                         Senior Software Engineer I
3                   Full Stack Developer - Associate
4                         Senior Engineer Full Stack

                       company              location job_type date_posted  \
0                         SS&C         United States      NaN  2024-08-21
1                Spring Health          New York, NY      NaN  2024-08-21
2                Spring Health          New York, NY      NaN  2024-08-21
3                Deutsche Bank          New York, NY      NaN  2024-08-21
4  JetBlue Airways Corporation  Long Island City, NY      NaN  2024-08-21

  salary_source  ...                                        company_url  \
0   direct_data  ...  https://www.glassdoor.com/Overview/W-EI_IE6022...
1   direct_data  ...  https://www.glassdoor.com/Overview/W-EI_IE2612...
2   direct_data  ...  https://www.glassdoor.com/Overview/W-EI_IE2612...
3   direct_data  ...  https://www.glassdoor.com/Overview/W-EI_IE3150...
4   direct_data  ...  https://www.glassdoor.com/Overview/W-EI_IE1138...

   company_url_direct  company_addresses company_num_employees  \
0                 NaN                NaN                   NaN
1                 NaN                NaN                   NaN
2                 NaN                NaN                   NaN
3                 NaN                NaN                   NaN
4                 NaN                NaN                   NaN

  company_revenue  company_description  \
0             NaN                  NaN
1             NaN                  NaN
2             NaN                  NaN
3             NaN                  NaN
4             NaN                  NaN

                                      logo_photo_url banner_photo_url  \
0  https://media.glassdoor.com/sql/6022/ss-and-c-...              NaN
1  https://media.glassdoor.com/sql/2612026/spring...              NaN
2  https://media.glassdoor.com/sql/2612026/spring...              NaN
3  https://media.glassdoor.com/sql/3150/deutsche-...              NaN
4  https://media.glassdoor.com/sql/11385/jetblue-...              NaN

  ceo_name ceo_photo_url
0      NaN           NaN
1      NaN           NaN
2      NaN           NaN
3      NaN           NaN
4      NaN           NaN

[5 rows x 31 columns]

In [3]:
# Information about the data
print("\nInformation:")
print(df.info())

Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 762 entries, 0 to 761
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     762 non-null    object
 1   site                   762 non-null    object
 2   job_url                762 non-null    object
 3   job_url_direct         250 non-null    object
 4   title                  762 non-null    object
 5   company                762 non-null    object
 6   location               750 non-null    object
 7   job_type               237 non-null    object
 8   date_posted            724 non-null    object
 9   salary_source          507 non-null    object
 10  interval               517 non-null    object
 11  min_amount             507 non-null    float64
 12  max_amount             507 non-null    float64
 13  currency               517 non-null    object
 14  is_remote              377 non-null    object
 15  job_level              0 non-null      float64
 16  job_function           0 non-null      float64
 17  company_industry       63 non-null     object
 18  listing_type           377 non-null    object
 19  emails                 66 non-null     object
 20  description            627 non-null    object
 21  company_url            507 non-null    object
 22  company_url_direct     192 non-null    object
 23  company_addresses      184 non-null    object
 24  company_num_employees  181 non-null    object
 25  company_revenue        167 non-null    object
 26  company_description    140 non-null    object
 27  logo_photo_url         294 non-null    object
 28  banner_photo_url       146 non-null    object
 29  ceo_name               133 non-null    object
 30  ceo_photo_url          112 non-null    object
dtypes: float64(4), object(27)
memory usage: 184.7+ KB
None